POSTGRES_USER=...
POSTGRES_PASSWORD=...
DB_PORT=7432

KAFKA_PORT=9093
KAFKA_LISTENER_NAME=...
KAFKA_NODE_ID=1
KAFKA_UI_PORT=11080

MONOLITH_PORT=8080
MOVIES_PORT=8081
EVENTS_PORT=8082
PROXY_PORT=8000
